*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: white;
}

body{
    margin:0%;
    background-color: lightblue;
}

#Contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura ventana gráfica*/
}


#Calculadora{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: 100px repeat(5, 50px);
    background-color: coral;
    padding: 10px;
    border-radius: 15px;
}

button{
    cursor: pointer;
    color: black;
    margin: 2px;
    border-radius: 15px;
}

button:focus{
    outline: none;
}

#display{
    display: flex;
    grid-column: 1 / -1;
    padding: 12px;
    margin: 10px;
    border-radius: 15px;
    align-items: flex-end;
    background-color: black;
}

#borratodo{
    grid-column: span 2;
}
