*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: black;
}

body{
    margin:0%;
    background-color: white;
}

#Calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura ventana gráfica*/
}


#Teclado{
    display:grid;
    grid-template-columns: repeat(4,70px);
    grid-template-rows: 100px repeat(4, 50px);
    background-color: coral;

}