
/* selector que me permite seleccionar 
todo el contenido del documento html*/
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: white;
}

/* estilo del cuerpo */
body{
    margin:0%;
    background-color: lightblue;
}

/* Todo lo que está contenido en este div, 
se situa en el centro de la pantalla*/
#Contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura ventana gráfica*/
}

/* divido el área en filas y columnas
que serán los botones*/
#Calculadora{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: 100px repeat(5, 50px);
    background-color: coral;
    padding: 10px;
    border-radius: 15px;
}

/* diseño de los botones*/
/* el cursor será una mano que apunta*/
button{
    cursor: pointer;
    color: black;
    margin: 2px;
    border-radius: 15px;
}

/*quito el marco que hay alrededor de los botones*/
button:focus{
    outline: none;
}

/* diseño pantalla*/
#display{
    display: flex;
    grid-column: 1 / -1;
    padding: 12px;
    margin: 10px;
    border-radius: 15px;
    align-items: flex-end;
    background-color: black;
}

/*quiero que el botón AC ocupe el mismo 
tamaño que dos botones*/
#borratodo{
    grid-column: span 2;
}
