/* Utilizo @font-face para poder usar
una topografía de internet, o en este caso, 
de un archivo descargado en mi ordenador */
@font-face {
    font-family: 'Simpsonfont';
    src: url('Simpsonfont.otf');
}

/* Estilo encabezado pricipal*/
/* Mediante el parámetro font-family 
especifico el nombre de la topografía 
que quiero usar */
h1 {
    font-family: "Simpsonfont";
    text-align: center;
    color: yellow;
    
}

/* Estilo del primer contenedor de elementos, 
que voy a usar como encabezado del curriculum*/
#Nubes {
    background-image: url('Fondo.jpg');
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    height: 250px;
    width: 800px;
}

/* Quiero que la imagen esté centrada, 
como no es un texto, la manera de hacerlo 
es tratandola como un elemento tipo bloque 
y asignarle un margen auto*/

#img1 {
    height: 100px;
    width: 200px;
    display: block;
    margin: auto;
}

/* Estilo del cuerpo*/
#fondo{
    background-image: url('rosquillas.jpg');
}

/* Estilo del segundo contenedor, donde 
he metido todos los campos del curriculum */
div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color:black;
    border: 1px solid;
    border-color: black;
    margin: auto;
    padding: 10px;
    width: 50%;
}

/* Estilo fieldset */
/* Para que sea simétrico tengo 
que aplicar un margen solo a la parte de abajo de los fieldset */
/* El estilo quiero que sea igual que el del div */ 
fieldset {
    margin-bottom: 10px;
}

/* Tamaño de las imágenes de los 
trabajos anteriores(menos importantes)*/ 
.img2 {
    height: 80px;
    width: 160px;
    margin-right: 10px;
}

/*Tamaño imagen trabajo actual(más importante)*/
.img3 {
    height: 100px;
    width: 200px;
}



