/* Uso font-face para poder usar la fuente de letra 
al estilo de Star Wars, descargada de internet*/
@font-face {
  font-family: 'StarWarsfont';
  src: url('Starjout.ttf'); 
}

/* Estilo encabezado */
h1 {
  font-family: 'StarWarsfont';
  text-align: center;
  color: yellow;
}
/* Uso un fondo de internet para 
que el estilo tenga la temática de Star Wars*/
body {
 background-image: url(fondo.jpeg);
 background-size: cover;
}
/* Le doy un display flex que me permite centrar los elementos 
de este contenedor en la pantalla*/
.contenidoprincipal{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* una vez centradas, quiero que la imagen original
ocupe el 50% del ancho de la pantalla*/
/*El estilo seguirá la temática Star Wars*/
.imagenori{
  width: 50%;
  font-family: 'StarWarsfont';
  font-size: 20px;
  text-align: center;
  color: yellow;
}

/*La imagen manipulada ocupe el otro 50% */
/*El estilo seguirá la temática Star Wars*/
.imagenmani{
  width: 50%;
  font-family: 'Starwarsfont';
  font-size: 20px;
  text-align: center;
  color: yellow;
}
/* Los botones también quiero que estén centrados
en la pantalla */
.botones{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Estilo de los botones*/
button {
  font-family: fantasy;
    font-weight: 500;
    font-size: 15px;
    color: silver;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    background-color:teal;
    border-radius:15px;
}
/*margen botones gris y color
para que estén simétricos*/
#gris, #color{
  margin-right: 20px;
}

/*Estillo deslizadores*/
/*También están centrados*/
.deslizadores{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  color:silver;
}

/* Separo el valor de los deslizadores
para que no se peguen*/
#range_value1, #range_value2{
  margin-right: 20px;
}
